//Definición de variables
$rosa-keySalon: #F8E8EE;
$fuente-keySalon: 'Oswald', sans-serif;

@mixin fuente($familia, $tamano, $color) {
    font-family: $familia;
    font-size: $tamano;
    color: $color;
}

input{
    background-color: transparent;
    border: 1px solid #f772c49c;
    color: #940d6b;
    font-weight: 500;
    text-decoration: dashed;
    font-family: $fuente-keySalon;
    width: 10em;
    transition: color 1s, background-color 1s, border 2s;
    &:hover{
        border: transparent;
        background-color: #f772c49c;
        color:white;
       
    }
}

.contacto {
   
    a{
        text-decoration: none;
        font-size: 0.8em;
        font-weight: bold;
        color: #e93a8c;
    }
}

.buscar{
    ::placeholder{
        color:#940d6b;
        font-weight: 500;
        transition: color 1s;
    }
  
}
input[type="search"]:focus {
    outline: none; 
}
input:hover::placeholder {
    color: white;
}

*
{
    margin: 0%;
    padding: 0%;
}

body
{
    background-color: $rosa-keySalon;
}

header
{
    background-image: url("../imagenes salon/bkgh.png") ;
    background-repeat: no-repeat ;
    background-size: cover;
    height: 10em;
}

section#botones-input{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.botones{
    margin-top: 1.8em;
    margin-bottom: 1.5em;
}
footer 
{
    background-color: rgb(253, 253, 253);
    
}

.nav-index{
    margin-bottom: 10%;

}


p{
    font-family: $fuente-keySalon;
    font-size: 20px;
}

h1{
    @include fuente('Oswald', 35px, rgb(158, 4, 76));
    font-weight: 500;
}

.titulo-seccion{
    margin: 1em 1em 1em 1em;
    @extend h1;
}

h2{
    font-family: $fuente-keySalon;
    font-weight: 500;
    font-size: 30px;
    color: rgb(158, 4, 76);
}

h3{
    @extend h2;
    font-size: 1.5em;
}

h4{
    @extend h2;
    font-weight: 300;
    color: rgb(150, 48, 95);
}

div{
    text-align: center;
    margin-bottom: 5%;
}

iframe{
    margin-top: 5em;
}

nav a {
    font-family: $fuente-keySalon;
    font-weight: 500;
    font-size: 1.5em;
    color: #e93a8c; 
    text-decoration: none;
    transition: font-size 2s, color 2s;
    margin-right: 1.5em;
    &:hover{
        color: #500439; 
        font-size: 2em;
    }
}

.logoredondo{
    border-radius: 100%;
    animation-name: rotacion;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    width: 60%;
}


.introduccion{
    margin-top: 2em;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-flow: row;
    justify-content: center;
    align-items: center;
    
   
}

#texto-index{
    position: relative;
    margin-left: 1em;
    margin-right: 2em;
}

/*peluqueria*/
.degrade{
    background-image: linear-gradient(to bottom,#ebbecf, white, pink);
}
.imagenes-pelo{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin:0 auto;
}
.imagen-mediana{
    width: 300px; height: 300px;
    margin: 10 px;
}

.caja{
    width: 50%;
}
.caja2{
    width: 40%;
    height: 100%;
}

/*manicuria*/
#grilla {
    display: grid;
    grid-template-areas: 
    "fotosmanos fotosmanos fotosmanos fotosmanos"
    "contenido contenido contenido aside" 
    "contenido contenido contenido aside"
    "extra extra extra aside";
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto auto auto auto;
   
}
.border {
   border: solid #d34185 1px;
}
div#fotosmanos{
    grid-area: fotosmanos;
    display: flex;
    flex-direction: row;
    grid-gap: 20px 20px;
    align-items: center;
    justify-content: center;
    
   
}

.foto{
    width: 20em;
    height: 20em;
    
   
}

section#contenido{
    grid-area: contenido;
    justify-content: center;
    text-align: center;
    margin-left: 10em;
    margin-right: 10em;

}
section#extra{
        grid-area: extra;
        justify-items: center;
        justify-content: center;
        margin-bottom:5em;
    }

.separador{
    width: 50%;
}
aside{
    grid-area:aside;
    background-image: url('../imagenes salon/fondorosa.avif');
    background-repeat: no-repeat ;
    background-size: cover;
    
}
.texto-chico{
    font-family: $fuente-keySalon;
    font-size: 1em;
    line-height: 2;

}

.img-manicuria{
    
    height: 100%;
    width: 100%;
    border-radius: 25px;
}

/* Titulo de masajes */
.titulo{
    background-image: linear-gradient(to bottom,#F8E8EE, pink, #F8E8EE);
    }
    
    .tipo-masaje{
        display: flex;
        flex-direction: row;
        justify-content:center;
    }
    
    .imagen-masajes{
        width: 20em;
    }
    
    .animate__animated.animate__fadeIn{
        --animate-duration: 3s;
      }

    #logo-index{
        position:relative;
    }
    #key-salon{
        position: absolute;
        top:50%;
        left:50%;
        width: 30%;
        z-index: 1;
        transform:translate(-50%,-50%);
        border-radius: 25%;
    }
    
    @keyframes rotacion {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

/*medias*/
@media (min-width: 601px){
    * {
        margin: 0;
        padding: 0;
        
    }
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        justify-content: center;
        text-align: center;
        justify-items: center;
        
    }

    .main-index{
        margin-right: 1.5em;
        margin-left:1.5em;
    }
    
    
    .logo{
        width: 13em;
    }

    iframe{
        width: 40em;
        height: 20em;
    }
    .mapa{
        width:12em;
        height:10em;
        margin: 0;
        padding: 0;
    }
}

p{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}
@media (max-width: 600px){
    
    * {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        
    }
    .logoredondo{
        display: none;
        
    }
    #key-salon{
        display: none;
    }
    .logo{
        width: 20em;
    }
    header
    {
        background-image: url("../imagenes salon/bkgh.png") ;
        background-repeat: no-repeat ;
        background-size: cover;
        width: auto;;
        height: auto;
    }

    .titulo-seccion{
        text-align: center;
        font-family: $fuente-keySalon;
        font-weight: 500;
        font-size: 35px;
        color:  rgb(158, 4, 76);
    }

    .main-index{
        margin-left: 1.5em;
        margin-right: 1.5em;
    }

    nav{
        a{
        display: block;
        font-family: $fuente-keySalon;
        font-weight: 500;
        font-size: 1.5em;
        color: #e93a8c; 
        text-decoration: none;
        transition: font-size 2s, color 2s;
        margin-right: 1.5em;
        width: 100%;

        :hover{
            color: #96056a; 
            font-size: 2em;
            }
        }
    }
    
    footer {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
        text-align: center;
        justify-items: center;
    }

    section#contenido{
        margin-left: 1.5em;
        margin-right: 1.5em;
    }

    /*--------Disposición de la grilla para pantallas chicas (manicuria)---------*/
    #grilla {
        display: grid;
        grid-template-areas: 
        "fotosmanos"
        "contenido " 
        "aside"
        "extra";
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
       
    }
    .introduccion{
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
    }
    
    div#fotosmanos{
        grid-area: fotosmanos;
        display: flex;
        flex-direction: column;
        grid-gap: 20px 20px;
        align-items: center;
         justify-content: center;
    }

    .imagenes-pelo{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin:0 auto;
    }

    .imagen-mediana{
        width: 10em; height: 10em;
        margin: 10 px;
    }

    .tipo-masaje{
        display: block;
        flex-direction: column;
        justify-content:center;
        margin-right: 1.5em;
        margin-left: 1.5em;
    }
    
    .imagen-masajes{
        width: 10em;
    }

    section#botones-input{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 0.2em;
    }
    

}

