<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Nuestros servicios de masajes y relax a tu alcance">
        <meta name="keywords" content="Salón de belleza, Masajes">
        <title>Key Salón - Masajes</title>
        <link rel="shortcut icon" href="../imagenes salon/logo.png">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Oswald:wght@200;300;400;500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../css/styles.css">
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    </head>
    <body>
        <header>
            <br/>
            <section id="botones-input">
                <div class="botones">
                    <input type="button" href="registro.html" value="Registrarse">
                    <input type="button" value="Iniciar sesión">
                </div>
                <div class="botones buscar">
                    <input type="search" placeholder="Busqueda">
                </div>
            </section>
            <nav style="text-align: center;">
                <ul>
                    <a href="../index.html"> Inicio</a>
                    <a href="peluquería.html"> Peluquería</a>
                    <a href="masajes.html"> Masajes</a>
                    <a href="tratamientos.html"> Tratamientos</a> 
                    <a href="manicuría.html"> Manicuría</a>
                </ul>
            </nav>
        </header>
        <main>
            <div class="titulo">
                <h1 class="titulo-seccion">Servicios de Masajes</h1>
                <img class="imagen-masajes"; src="../imagenes salon\entradamasajes.jpg" alt="Mujer relajada">
            </div>
            <div class="tipo-masaje" data-aos="fade-right" data-aos-duration="3000">
                <div>
                    <h2>Descontracturante</h2>
                    <p>Los masajes descontracturantes se utilizan para relajar la musculatura y disolver las contracturas que se producen por el estrés, las malas posturas, la falta de descanso o una vida demasiado sedentaria.</p>
                </div>
                <img class="imagen-masajes"; src="../imagenes salon\masajes-descontracturantes.jpg" alt="Hombre tomando un masaje">
            </div>
            <div class="tipo-masaje" data-aos="fade-left" data-aos-duration="3000">
                <img class="imagen-masajes"; src="../imagenes salon/masajesrelax.jpg" alt="Pareja haciendose masajes"/>
                <div>
                    <h2>Relajantes</h2>
                <p>En el masaje relajante se emplean maniobras superficiales en las que la intensidad de la presión es suave, con ritmo lento y reiterativo, de manera que, al recibir un contacto repetido, se pierde la sensación de dolor y los músculos se relajan.</p>
                </div>
            </div>
            <div class="tipo-masaje" data-aos="fade-right" data-aos-duration="3000">
                <div>
                    <h2>Drenaje Linfático</h2>
                    <p>Es un tipo de masaje, suave y ligero, que se aplica sobre el sistema circulatorio y cuyo objetivo es movilizar los líquidos del organismo para favorecer la eliminación de las sustancias de deshecho que se acumulan en el líquido que ocupa el espacio entre las células.</p>
                </div>
                <img class="imagen-masajes"; src="../imagenes salon/Drenaje-Linfatico.jpg" alt="Masaje corporal de drenaje"/>
            </div>   
            <div class="tipo-masaje" data-aos="fade-left" data-aos-duration="3000">
                <img class="imagen-masajes" src="../imagenes salon/masajespiedras-calientes.jpg" alt="Piedras volcanicas">
                <div>
                    <h2>Piedras calientes</h2>
                    <p>Lo último en salud y belleza actualmente son los masajes con piedras tanto calientes como frías. Combaten el dolor, relajan y ayudan a recuperar el sueño, además de revitalizar, iluminar y oxigenar la piel.</p>
                </div>
            </div>
        </main>     
        <footer >
            <div class="contacto">
                <h3>Nuestras formas de contacto:</h3>
                <p><a href="mailto:Key_salon_relax@gmail.com">Key_salon_relax@gmail.com</a></p>
                <p><a href="#">@Key_salon_relax</a></p>
                <p><a href="tel:43859-2384">43859-2384</a></p>
            </div>
            <div class="logo">
                <img class="logo" src="../imagenes salon/logo.png" alt="logo">
            </div>
            <div>
                <iframe class="mapa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3277.329673547565!2d-58.25436492476229!3d-34.77247506642927!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a32ececc6414df%3A0x7cc2b7454ff585bd!2sC.%205%201241%2C%20B1884AUY%20Berazategui%20Oeste%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1689550693714!5m2!1ses!2sar"
                     style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                </iframe>
            </div>
        </footer>
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script>
        AOS.init();
       </script>
    </body>
</html>