<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Lo ultimo en tendencias para tu cabello">
    <meta name="keywords" content="Salón de belleza, Estética, Peluquería">
    <title>Key Salón - Peluquería</title>
    <link rel="shortcut icon" href="../imagenes salon/logo.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Oswald:wght@200;300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <link rel="stylesheet" href="../css/styles.css">
    </head>
    <body class="degrade"> 
    <header>
        <br/>
        <section id="botones-input">
            <div class="botones" id="botonesLogueo">
                <input type="button" id="btnRegistrarse" value="Registrarse">
                <input type="button" id="btnIniciarSesion" value="Iniciar sesión">
            </div>
            <div class="botones buscar">
                <input type="search" placeholder="Busqueda">
            </div>
        </section>
        <section>
            <nav style="text-align: center;">
                <ul>
                    <a href="../index.html"> Inicio</a>
                    <a href="peluquería.html"> Peluquería</a>
                    <a href="masajes.html"> Masajes</a>
                    <a href="tratamientos.html"> Tratamientos</a> 
                    <a href="manicuría.html"> Manicuría</a>
                </ul>
            </nav>
        </section>
    </header>
    <main>
    <h1 class="titulo-seccion">Servicios de Peluquería </h1>
    <div class="imagenes-pelo">
        <div class="caja">
            <img class="imagen-mediana" alt="cabello con mechas" src="../imagenes salon/pelucolor.jpeg">
        </div>
        <div class="caja2 animate__animated animate__fadeIn animate__delay-2s">
            <H3>Servicios de Color:</H3>
            <p>
            Color, Mechas, Balayage, Baby lights, Iluminación, Low lights, Claritos, etc.
            </p>
        </div>
        <div class="caja2 animate__animated animate__fadeIn animate__delay-3s">
            <h3>Servicios de corte:</h3>
            <p>Las ultimas tendecias en corte, visajismo, cambios de look y más.</p>
        </div>
        <div class="caja">
            <img class="imagen-mediana" alt="cabello corto" src="../imagenes salon/pelucolor2.jpg">
        </div>
        <div class="caja">
            <img class="imagen-mediana" alt="cabello peinado" src="../imagenes salon/pelucolor3.jpg">
        </div>
        <div class="caja2 animate__animated animate__fadeIn animate__delay-4s">
            <h3>Servicios de Peinados:</h3>
            <p>Brushing, Lacio, ondas, rulos, peinados de Novia, etc.</p>
        </div>
        <div class="caja2 animate__animated animate__fadeIn animate__delay-5s">
            <h3>Cuidados para el Cabello</h3>
            <p>Contamos con tratamientos para el cuidado del cabello como Shock de keratina, Botox, Olaplex, las lineas completas de Loreal prefessionel. </p>
        </div>  
        <div class="caja"> 
            <img class="imagen-mediana" src="../imagenes salon/pelucolor5.jpg" alt="cabello largo">
        </div>
    </div>
    </main>
    <footer >
        <div class="contacto">
            <h3>Nuestras formas de contacto:</h3>
            <p><a href="mailto:Key_salon_relax@gmail.com">Key_salon_relax@gmail.com</a></p>
            <p><a href="#">@Key_salon_relax</a></p>
            <p><a href="tel:43859-2384">43859-2384</a></p>
        </div>
        <div class="logo">
            <img class="logo" src="../imagenes salon/logo.png" alt="logo">
        </div>
        <div>
            <iframe class="mapa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3277.329673547565!2d-58.25436492476229!3d-34.77247506642927!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a32ececc6414df%3A0x7cc2b7454ff585bd!2sC.%205%201241%2C%20B1884AUY%20Berazategui%20Oeste%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1689550693714!5m2!1ses!2sar"
                 style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="../scripts/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    </body>
</html>